

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- Latest compiled and minified CSS -->
<!-- https://xstore.8theme.com/demos/hosting/-->

<!-- Optional theme -->
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<body>







<section class=" body  pt-3 ">

  
  <containers class="pb-4  burger "  >
    <button class="top-bun">
      <h1 style="color:orange;" >🍔Yammy🍔 </h1>
    </button>
    <button class="tomato">
    </button>
    <button class="lettuce">
    </button>
    <button class="steak">

    </button>
    <button class="bottom-bun">
      <h1 style="color:orange;" >🍔Tasty🍔  </h1>
    </button>
  </containers>

    


  <section class="mt-5 pt-5 ">
 
  
    <div class="container roll mt-5 pt-5  ">
    
      <div class="wgh-slider">
        <input class="wgh-slider-target" type="radio" id="slide-1" name="slider"/>
        <input class="wgh-slider-target" type="radio" id="slide-2" name="slider"/>
        <input class="wgh-slider-target" type="radio" id="slide-3" name="slider" checked="checked"/>
        <input class="wgh-slider-target" type="radio" id="slide-4" name="slider"/>
        <input class="wgh-slider-target" type="radio" id="slide-5" name="slider"/>
        <div class="wgh-slider__viewport">
          <div class="wgh-slider__viewbox">
            <div class="wgh-slider__container">
              <div class="wgh-slider-item">
                <div class="wgh-slider-item__inner">
                  <figure class="wgh-slider-item-figure"><img class="wgh-slider-item-figure__image" src="https://f4.bcbits.com/img/a1447299792_10.jpg" alt="Photosynthesis Remixes"/>
                    <figcaption class="wgh-slider-item-figure__caption"><a href="https://f4.bcbits.com/img/a1447299792_10.jpg">Photosynthesis Remixes</a><span> Carbon Based Lifeforms</span></figcaption>
                  </figure>
                  <label class="wgh-slider-item__trigger" for="slide-1" title="Show product 1"></label>
                </div>
              </div>
              <div class="wgh-slider-item">
                <div class="wgh-slider-item__inner">
                  <figure class="wgh-slider-item-figure"><img class="wgh-slider-item-figure__image" src="https://f4.bcbits.com/img/a1447299792_10.jpg" alt="Photosynthesis Remixes"/>
                    <figcaption class="wgh-slider-item-figure__caption"><a href="https://f4.bcbits.com/img/a1447299792_10.jpg">Photosynthesis Remixes</a><span> Carbon Based Lifeforms</span></figcaption>
                  </figure>
                  <label class="wgh-slider-item__trigger" for="slide-2" title="Show product 2"></label>
                </div>
              </div>
              <div class="wgh-slider-item">
                <div class="wgh-slider-item__inner">
                  <figure class="wgh-slider-item-figure"><img class="wgh-slider-item-figure__image" src="http://f4.bcbits.com/img/a0071388082_16.jpg" alt="Worship Nothing"/>
                    <figcaption class="wgh-slider-item-figure__caption"><a href="http://f4.bcbits.com/img/a0071388082_16.jpg">Worship Nothing</a><span>Hatti Vatti</span></figcaption>
                  </figure>
                  <label class="wgh-slider-item__trigger" for="slide-3" title="Show product 3"></label>
                </div>
              </div>
              <div class="wgh-slider-item">
                <div class="wgh-slider-item__inner">
                  <figure class="wgh-slider-item-figure"><img class="wgh-slider-item-figure__image" src="https://f4.bcbits.com/img/a1305025178_16.jpg" alt="The Last Resort"/>
                    <figcaption class="wgh-slider-item-figure__caption"><a href="https://f4.bcbits.com/img/a1305025178_16.jpg">The Last Resort</a><span>Trentemøller</span></figcaption>
                  </figure>
                  <label class="wgh-slider-item__trigger" for="slide-4" title="Show product 4"></label>
                </div>
              </div>
              <div class="wgh-slider-item">
                <div class="wgh-slider-item__inner">
                  <figure class="wgh-slider-item-figure"><img class="wgh-slider-item-figure__image" src="https://f4.bcbits.com/img/a1305025178_16.jpg" alt="The Last Resort"/>
                    <figcaption class="wgh-slider-item-figure__caption"><a href="https://f4.bcbits.com/img/a1305025178_16.jpg">The Last Resort</a><span>Trentemøller</span></figcaption>
                  </figure>
                  <label class="wgh-slider-item__trigger" for="slide-5" title="Show product 5"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>







  <section>
    <h1 class="title  mb-5"> SPICY DISHES</h1>
  
  <div class="container ">
    <div class="row">
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/food2.jpg');"></div>
        <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/chicken\ pizza.jpg');"></div>
          <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/grilled\ chicken.jpg');"></div>
          <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg card-bg--alt" style="background-image: url('../../images/food1.jpg');"></div>
        <div class="shine"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  </section>





  <section>
    <h1 class="title  mb-5">SPECIAL DISHES</h1>
  
  <div class="container ">
    <div class="row">
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/food2.jpg');"></div>
        <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/chicken\ pizza.jpg');"></div>
          <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg" style="background-image: url('../../images/grilled\ chicken.jpg');"></div>
          <div class="shine"></div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-0 col-xl-3 offset-xl-0 mb-5">
        <div class="card shine-overlay">
          <div class="card-bg card-bg--alt" style="background-image: url('../../images/food1.jpg');"></div>
        <div class="shine"></div>
        </div>
      </div>
      
    </div>
  </div>
  
  </section>




<section>




  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-rainbow.jpg);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p  class="text-white"  >&ldquo;Perfect is the enemy of good Scanfcode.com CODE WANTS TO BE SIMPLE is 
          an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most 
          efficient code or snippets as the code wants to be simple. We will help programmers build up concepts 
          in different programming languages that 
          include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm..&rdquo;
          <cite> - Voltaire</cite>
        </p>
      </div>
    </div>
  </div>
</section>








      <!--navigation-end-->
      <div class="content-container  mb-3 pb-2 ">
        <div class="whats-new">
            <img src="./images/whats new.png"/>
        </div>
    </div>
  












  



    





       
<div class="container mb-5">
        
  <div class="row ">



    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
          <div class="food-1">
            <div class="name">
                <p>BURGERS SPECIAL</p>
                <p>GET UP TO 50% OFF</p>
            </div>
            <div class="explore">
              <a href="/"><button>EXPLORE</button></a>
            </div>
        </div>
    </div>
  </div>
    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
      <div class="food-2">
          <div class="name">
              <p>VEG/NON-VEG MOMOS</p>
              <p>PIZZATO SPECIAL</p>
          </div>
          <div class="explore">
            <a href="/"><button>EXPLORE</button></a>
          </div>
      </div>
    </div>
  </div>

    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
      <div class="food-3">
          <div class="name">
              <p>HOT CAPPUCCINO</p>
              <p>FEEL FRESH FEEL GOOD</p>
          </div>
          <div class="explore">
            <a href="/"><button>EXPLORE</button></a> 
          </div>
      </div>


</div>
  </div>
  </div>
    </div>
 

  <div class="container mb-5">
  <div class="row">

    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
          <div class="food-1">
            <div class="name">
                <p>BURGERS SPECIAL</p>
                <p>GET UP TO 50% OFF</p>
            </div>
            <div class="explore">
              <a href="/"><button>EXPLORE</button></a>
            </div>
        </div>
    </div>
  </div>
    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
      <div class="food-2">
          <div class="name">
              <p>VEG/NON-VEG MOMOS</p>
              <p>PIZZATO SPECIAL</p>
          </div>
          <div class="explore">
            <a href="/"><button>EXPLORE</button></a>
          </div>
      </div>
    </div>
  </div>

    <div class=" col-xs-12 col-sm-5 col-md-4 col-lg-4" >
      <div class="second-row">
      <div class="food-3">
          <div class="name">
              <p>HOT CAPPUCCINO</p>
              <p>FEEL FRESH FEEL GOOD</p>
          </div>
          <div class="explore">
            <a href="/"><button>EXPLORE</button></a> 
          </div>
      </div>


</div>
  </div>
  </div>
  </div>
  </div>

</div>
</div>





/////

<section>
  <h1 class="title  mb-5"> About us</h1>


  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-botanical-gardens.jpg);">
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p  class="text-white" >&ldquo;I've learned that people will forget what you said, Scanfcode.com CODE WANTS TO BE SIMPLE is an initiative 
          to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets 
          as the code wants to be simple. We will help programmers build up concepts in different programming languages that include 
          C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm. people will forget what you did, but people will never forget how you made them feel.&rdquo;
          <cite>- Maya Angelou</cite>
        </p>
      </div>
    </div>
  </div>
  
  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-library-sm.jpg);">
      &nbsp;
    </div>
    <div class="col col-text col-left">
      <div class="Aligner-item">
        <p class="text-white" >&ldquo;Simple isScanfcode.com CODE WANTS TO BE SIMPLE is an initiative to help the 
          upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets
          as the code wants to be simple. We will help programmers build up concepts in different programming 
          languages that include C, C++, Java, HTML, CSS, Bootstrap,
           JavaScript, PHP, Android, SQL and Algorithm. good.&rdquo;
          <cite>- Jim Henson</cite>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-skylight-sm.jpg);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p class="text-white"  >&ldquo;Everybody has a plan until they getScanfcode.com CODE WANTS TO BE SIMPLE 
          is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the 
          most efficient code or snippets as the code wants to be simple. We will help programmers build up 
          concepts in different programming languages that 
          include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm. 
          punched in the mouth.&rdquo;
          <cite>- Mike Tyson</cite>
        </p>
      </div>
    </div>
  </div>

  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/madison-overture.jpg);">
      &nbsp;
    </div>
    <div class="col col-text col-left">
      <div class="Aligner-item">
        <p class="text-white"  >&ldquo;We are what we pretend to be, Scanfcode.com CODE WANTS TO BE SIMPLE is an
           initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient 
           code or snippets as the code wants to be simple. We will help programmers build up concepts in different 
           programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL
            and Algorithm.so we must be careful about what we pretend to be&rdquo;
          <cite>- Kurt Vonnegut, Jr.</cite>
        </p>
      </div>
    </div>
  </div>


  <div class="grid-flex">
    <div class="col col-image" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/280406/seattle-skylight-sm.jpg);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <p class="text-white"  >&ldquo;Everybody has a plan until they getScanfcode.com CODE WANTS TO BE SIMPLE 
          is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the 
          most efficient code or snippets as the code wants to be simple. We will help programmers build up 
          concepts in different programming languages that 
          include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm. 
          punched in the mouth.&rdquo;
          <cite>- Mike Tyson</cite>
        </p>
      </div>
    </div>
  </div>




</section>

/////























<!--

<section>




<h1 class="text-center text-white"> About us </h1>


 
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1539840093138-9b3e230e5206?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=765a2eb222b1851840a4a157780fb487&auto=format&fit=crop&w=1534&q=80" class="img-responsive center-block"></a>
              <h4 class="text-center">MAYORAL SUKNJA</h4>
              <h5 class="text-center">200,00 TK</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60" class="img-responsive center-block"></a>
              <h4 class="text-center">MAYORAL KOŠULJA</h4>
              <h5 class="text-center">800 TK</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1511556820780-d912e42b4980?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04aebe9a22884efa1a5f61e434215597&auto=format&fit=crop&w=500&q=60" class="img-responsive center-block"></a>
              <span class="badge">10%</span>
              <h4 class="text-center">PANTALONE TERI 2</h4>
              <h5 class="text-center">4000,00 TK</h5>
              <h6 class="text-center">5000,00 TK</h6>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1531925470851-1b5896b67dcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91fe0ca1b5d72338a8aac04935b52148&auto=format&fit=crop&w=500&q=60" class="img-responsive center-block"></a>
              <h4 class="text-center">CVETNA HALJINA</h4>
              <h5 class="text-center">4000,00 RSD</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1531925470851-1b5896b67dcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91fe0ca1b5d72338a8aac04935b52148&auto=format&fit=crop&w=500&q=60" class="img-responsive center-block"></a>
              <h4 class="text-center">CVETNA HALJINA</h4>
              <h5 class="text-center">4000,00 RSD</h5>
            </div>
          </div>

          <div class="item">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img src="https://images.unsplash.com/photo-1531925470851-1b5896b67dcd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91fe0ca1b5d72338a8aac04935b52148&auto=format&fit=crop&w=500&q=60" class="img-responsive center-block"></a>
              <h4 class="text-center">CVETNA HALJINA</h4>
              <h5 class="text-center">4000,00 RSD</h5>
            </div>
          </div>




        </div>

        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="L" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="R" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>

</section>
-->



<!--
<footer class="footer-section pt-4 ">

  <div class="container">
    <div class="footer-cta  mt-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>1010 Avenue, sw 54321, chandigarh</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>9674628110</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>swastikdubey1234@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-6 col-lg-6 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src="./images/footerlogo.png" class="img-fluid" alt="logo"></a>
            </div>
            <div class="footer-text">
              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-social-icon mb-4">
              <span>Follow us</span>
              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Useful Links</h3>
            </div>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">services</a></li>
              <li><a href="#">portfolio</a></li>

            </ul>
          </div>
        </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 text-center text-lg-left">
          <div class="copyright-text text-center">
            <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Anup</a></p>
          </div>
        </div>
       
      </div>
    </div>
  </div>

</footer>
-->

<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="mb-4" > CREATIVE WORLD </h6>
        <div>
          <a href="/" ><i class="fas fa-pizza-slice fa-3x mb-2 "> Pizzato</i></a>
       </div>
        <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 class="mb-4" >Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
          <li><a href="http://scanfcode.com/category/android/">Android</a></li>
          <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6 class="mb-4" >Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">Scanfcode</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook-f facebook-bg"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter twitter-bg"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-google-plus-g google-bg"></i></a></li>
    
        </ul>
      </div>
    </div>
  </div>
</footer>










</section>


</body>

<script>
  $(document).ready(function(){

    $('#itemslider').carousel({ interval: 3000 });
    
    $('.carousel-showmanymoveone .item').each(function(){
    var itemToClone = $(this);
    
    for (var i=1;i<6;i++) {
    itemToClone = itemToClone.next();
    
    if (!itemToClone.length) {
    itemToClone = $(this).siblings(':first');
    }
    
    itemToClone.children(':first-child').clone()
    .addClass("cloneditem-"+(i))
    .appendTo($(this));
    }
    });
    });
    





    
</script>

</html>