@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: cornsilk;
  transition: all 0.3s ease-in-out;
}

.fa-pizza-slice {
  color: #D63447;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #d4e0cf;
}

.btn-red {
  background: #DA723C;
}
.btn-red:hover {
  background: #c75d26;
  transition: all 0.3s ease;
}
.btn-red:active {
  background: #7e3b18;
}

.size {
  background: #d4e0cf;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.grid {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 4rem;
}
